#jeu table tr td {
	width: 40px;
	height: 40px;
    color: black;
	border: 1px solid black;
	font-size: 20px;
	font-family: Helvetica;
	text-align: center;
	vertical-align: center;
}
.centered {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#nbsous {
	text-align: right;
	font-size: smaller;
	margin-right: 20px; 
	color: red;
}
#msg{
	text-align: center;
	font-size: 30px;
	color:red;
	font-weight: bold;
	
}
#overlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	
}

 
 

